:root{
    padding: 0px;
    margin: 0px;
    /* --light:#FFEAE4 ; */
    --light:#ffffff70 ;
    --dark:#FF6363;
    font-size: 14px;
    
}
.h-green-glass{
  /* From https://css.glass */
background: #59e9ec;
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
/* border: 1px solid rgba(76, 146, 0, 0.3); */
}
.h-btn:hover{
  background: #55c841e0;
/* border-radius: 16px; */
box-shadow: 1px 1px 2px rgba(51, 39, 39, 0.1);
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
/* border: 1px solid rgba(76, 146, 0, 0.3); */
color: green;
}
.h-btn{

  height: fit-content;
  padding: 12px 16px;
  border-radius: 10px;
  border: 0;
  font-size: 14px;
  box-shadow: 1px 1px 2px  black;
/* } */
}
.h-heading{
font-size: 44px;

}


/* @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); */
.michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.libre {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.text-gr{
  background: #FF975C;
background: linear-gradient(to top, #FF975C 0%, #F72103 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

/* colors */
.bgimg{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.h-bgdark{
    background: rgb(255,135,61);
    background: -moz-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: -webkit-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff873d",endColorstr="#8b1d1a",GradientType=1);
}
.h-bglight{
    background-color: var(--light);  
  }
  .h-text-sm{
    font-size: 12px;
    color: var(--light);
    
  }
  .h-text-mordern{
    font-family: monospace;
  }

  .h-lineheight{
    line-height:0.78 ;
  }
  .h-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .h-text-dark{
    color: var(--dark);
  }
  .h-w-fit{
    width: fit-content;
  }
  .h-navlink{
/* text-decoration: none; */
list-style: none;
  }
  .h-hover-red:hover{
    color: var(--dark);
  }
/* for change siler size */
  @media only screen and (max-width: 400px) {
    .myslider {
      height:auto;
    }
    /* .h-heading{
      font-size: 32px;
    } */
    /* .h-card-img{
      width: 500px;
    } */
     .hres{
      height: 100vw;
      margin-top: 40px;
     }
     .h-heading{
      font-size: 32px;
     }
     .h-cat-text{
      font-size: 16px;
     }
  
  }
@media only screen and (max-width:400px) {
  .h-card{
    height: 100vw;
  }
  
}
/* .h-card-img{ */
  /* min-width: 300px;
  min-height:300px ; */
  /* width: 350px;
  height: 350px;
 } */
  @media only screen and (min-width: 400px) {
    .myslider {
      width: 100%;
      height:100vh;
    }
    .h-heading{
      font-size: 44px;
    }
    /* .h-card-img{ */
     /* min-width: 300px;
     min-height:300px ; */
     /* width: 300px;
     height: 300px;
    } */
     .h-card-img{
      height: auto;
      width: auto;
     }

     .hres{
      width: 100%;
      height: 100vh;
     }
     .h-cat-text{
      font-size: 18px;
     }
    /* body{
      background-color: #000;
    } */
  }


  /* FOr making slider================== Card*/
  @media only screen and (min-width:300px) {
    .h-card-img{
      width: 280px;
      height: 280px;
    }
    
  }
  @media only screen and (min-width:320px) {
    .h-card-img{
      width: 300px;
      height: 300px;
    }
    
  }

  @media only screen and (min-width:400px) {
    .h-card-img{
      width: 350px;
      height: 350px;
    }
    
  }
  @media only screen and (min-width:500px) {
    .h-card-img{
      width: 440px;
      height: 440px;
    }
    
  }
  /* End SLider Card=============== */
  .h-bg-trans{
    background-color: hsla(208, 100%, 97%, 0.39);
  }

  /* slider */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

.fade{
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}
.h-glass{
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);
}

.mycata:hover{
  background: #ffffff00;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 16:6:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 16:8:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.h-card-img{
  /* width: 300px;
  height: 300px; */
background-color: #969696;

}

.h-card-box{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


.fade-out-fwd {
	-webkit-animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:22:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}
@keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}

.slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:33:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
}


.puff-in-top {
	-webkit-animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:35:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:39:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    /* color: #686868; */
  }
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:42:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


.h-form-input{
  min-width: 300px;
    padding: 12px 42px;
    font-size: 14px;
    border-radius: 9px;
    border: none;
    /* border-bottom: 2px solid orange; */
    /* background: #8080801a; */
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
    text-align: center;
    margin: 12px 0px;
}
.h-form-input-s{
  padding: 12px 42px;
  font-size: 14px;
  border-radius: 9px;
  border: none;
  /* border-bottom: 2px solid orange; */
  /* background: #8080801a; */
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: center;
  margin: 12px 0px;
}
.h-form-input-s:hover{
  outline: none;
  /* height: ; */
  border:none ;
  box-shadow: 0 4px 30px rgba(157, 157, 157, 0.699);
}
.h-form-input:focus-visible{
  outline: none;
  /* height: ; */
  border:none ;
  box-shadow: 0 4px 30px rgba(157, 157, 157, 0.699);
}



/* ==========temp CSS */
