:root{
    padding: 0px;
    margin: 0px;
    /* --light:#FFEAE4 ; */
    --light:#ffffff70 ;
    --dark:#FF6363;
    font-size: 14px;
}


/* colors */

.h-bgdark{
    background: rgb(255,135,61);
    background: -moz-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: -webkit-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff873d",endColorstr="#8b1d1a",GradientType=1);
}
.h-bglight{
    background-color: var(--light);  
  }
  .h-text-sm{
    font-size: 12px;
    color: var(--light);
    
  }
  .h-text-mordern{
    font-family: monospace;
  }

  .h-lineheight{
    line-height:0.78 ;
  }
  .h-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .h-text-dark{
    color: var(--dark);
  }
  .h-w-fit{
    width: fit-content;
  }
  .h-navlink{
/* text-decoration: none; */
list-style: none;
  }
  .h-hover-red:hover{
    color: var(--dark);
  }

  @media only screen and (max-width: 600px) {
    .myslider {
      height:auto;
    }
  }
  .h-bg-trans{
    background-color: hsla(208, 100%, 97%, 0.39);
  }

  /* slider */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}