:root{
    padding: 0px;
    margin: 0px;
    /* --light:#FFEAE4 ; */
    --light:#ffffff70 ;
    --dark:#FF6363;
    font-size: 14px;
    
}
.h-green-glass{
  /* From https://css.glass */
background: #59e9ec;
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
/* border: 1px solid rgba(76, 146, 0, 0.3); */
}
.h-btn:hover{
  background: #55c841e0;
/* border-radius: 16px; */
box-shadow: 1px 1px 2px rgba(51, 39, 39, 0.1);
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
/* border: 1px solid rgba(76, 146, 0, 0.3); */
color: green;
}
.h-btn{

  height: fit-content;
  padding: 12px 16px;
  border-radius: 10px;
  border: 0;
  font-size: 14px;
  box-shadow: 1px 1px 2px  black;
/* } */
}
.h-heading{
font-size: 44px;

}


/* @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); */
.michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.libre {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}
.syncopate-regular {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syncopate-bold {
  font-family: "Syncopate", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.text-gr{
  background: #FF975C;
background: linear-gradient(to top, #FF975C 0%, #F72103 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

/* colors */
.bgimg{
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.h-bgdark{
    background: rgb(255,135,61);
    background: -moz-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: -webkit-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff873d",endColorstr="#8b1d1a",GradientType=1);
}
.h-bglight{
    background-color: var(--light);  
  }
  .h-text-sm{
    font-size: 12px;
    color: var(--light);
    
  }
  .h-text-mordern{
    font-family: monospace;
  }

  .h-lineheight{
    line-height:0.78 ;
  }
  .h-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .h-text-dark{
    color: var(--dark);
  }
  .h-w-fit{
    width: fit-content;
  }
  .h-navlink{
/* text-decoration: none; */
list-style: none;
  }
  .h-hover-red:hover{
    color: var(--dark);
  }
/* for change siler size */
  @media only screen and (max-width: 400px) {
    .myslider {
      height:auto;
    }
    /* .h-heading{
      font-size: 32px;
    } */
    /* .h-card-img{
      width: 500px;
    } */
     .hres{
      height: 100vw;
      margin-top: 40px;
     }
     .h-heading{
      font-size: 32px;
     }
     .h-cat-text{
      font-size: 16px;
     }
  
  }
@media only screen and (max-width:400px) {
  .h-card{
    height: 100vw;
  }
  
}
/* .h-card-img{ */
  /* min-width: 300px;
  min-height:300px ; */
  /* width: 350px;
  height: 350px;
 } */
  @media only screen and (min-width: 400px) {
    .myslider {
      width: 100%;
      height:100vh;
    }
    .h-heading{
      font-size: 44px;
    }
    /* .h-card-img{ */
     /* min-width: 300px;
     min-height:300px ; */
     /* width: 300px;
     height: 300px;
    } */
     .h-card-img{
      height: auto;
      width: auto;
     }

     .hres{
      width: 100%;
      height: 100vh;
     }
     .h-cat-text{
      font-size: 18px;
     }
    /* body{
      background-color: #000;
    } */
  }


  /* FOr making slider================== Card*/
  @media only screen and (min-width:300px) {
    .h-card-img{
      width: 280px;
      height: 280px;
    }
    
  }
  @media only screen and (min-width:320px) {
    .h-card-img{
      width: 300px;
      height: 300px;
    }
    
  }

  @media only screen and (min-width:400px) {
    .h-card-img{
      width: 350px;
      height: 350px;
    }
    
  }
  @media only screen and (min-width:500px) {
    .h-card-img{
      width: 440px;
      height: 440px;
    }
    
  }
  /* End SLider Card=============== */
  .h-bg-trans{
    background-color: hsla(208, 100%, 97%, 0.39);
  }

  /* slider */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 32s infinite;
            animation: slowFade 32s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 16s;
            animation-delay: 16s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}

.fade{
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}
.h-glass{
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);
}

.mycata:hover{
  background: #ffffff00;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 16:6:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 16:8:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.h-card-img{
  /* width: 300px;
  height: 300px; */
background-color: #969696;

}

.h-card-box{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


.fade-out-fwd {
	-webkit-animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:22:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}
@keyframes fade-out-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
}

.slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:33:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
            transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0;
  }
}


.puff-in-top {
	-webkit-animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:35:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:39:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    /* color: #686868; */
  }
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 22:42:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}


.h-form-input{
  min-width: 250px;
    padding: 12px 42px;
    font-size: 14px;
    border-radius: 0px;
    border: none;
    /* border-bottom: 2px solid orange; */
    /* background: #8080801a; */
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
    text-align: center;
    margin: 12px 0px;
}
.h-form-input-s{
  padding: 12px 42px;
  font-size: 14px;
  border-radius: 9px;
  border: none;
  /* border-bottom: 2px solid orange; */
  /* background: #8080801a; */
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 8px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.9px);
-webkit-backdrop-filter: blur(9.9px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
  text-align: center;
  margin: 12px 0px;
}
.h-form-input-s:hover{
  outline: none;
  /* height: ; */
  border:none ;
  box-shadow: 0 4px 30px rgba(157, 157, 157, 0.699);
}
.h-form-input:focus-visible{
  outline: none;
  /* height: ; */
  border:none ;
  box-shadow: 0 4px 30px rgba(157, 157, 157, 0.699);
}


/* ==========for product image========= */
 /* FOr making slider================== Card*/
 @media only screen and (min-width:300px) {
  .product-image{
    width: 280px;
    height: 280px;
  }
  .pr-card-img{
    .product-image{
      width: 280px;
      height: 280px;
    }
  }
  
}
@media only screen and (min-width:320px) {
  .product-image{
    width: 300px;
    height: 300px;
  }
  .pr-card-img{
    width: 300px;
    height: 300px;
  }
  
}

@media only screen and (min-width:400px) {
  .product-image{
    width: 350px;
    height: 350px;
  }
  .pr-card-img{
    width: 330px;
    height: 330px;
  }
  
}
@media only screen and (min-width:500px) {
  .product-image{
    width: 420px;
    height: 420px;
  }
  
}
/* ==========temp CSS */
.product-grid{ font-family: 'Fira Sans', sans-serif; }
.product-grid .product-image{
  /* min-width: 300px;
  min-height: 300px; */
    position: relative;
    overflow: hidden;
}
.product-grid .product-image div.image{ display: block; }
.product-grid.new .product-image div.image:before,
.product-grid .product-image div.image:after{
    content: '';
    background: rgb(255,135,61);
    background: -moz-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: -webkit-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    background: linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff873d",endColorstr="#8b1d1a",GradientType=1);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    right: -25px;
    top: -25px;
}
.product-grid .product-image div.image:after{
    height: 120px;
    width: 120px;
    right: auto;
    left: -120px;
    top: auto;
    bottom: -120px;
    transition: all 0.3s ease;
}
.product-grid:hover .product-image div.image:after{
    left: -25px;
    bottom: -40px;
}
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-new-label{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 7px;
    right: 5px;
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 7px;
    right: 10px;
}
.product-grid .product-links li{
    margin: 0 0 4px;
    transform: translateX(100px);
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-links li{ transform: translateX(0); }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.2s; }
.product-grid .product-links li:last-child{ margin: 0; }
.product-grid .product-links li div{
    color: #000;
    background: rgba(255,216,0,0.2);
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    height:45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    position: relative;
     transition: all 200ms ease 0s;
}
.product-grid .product-links li div:hover{background: rgb(255,135,61);
  background: -moz-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
  background: -webkit-linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
  background: linear-gradient(189deg, rgba(255,135,61,1) 0%, rgba(150,26,0,1) 100%, rgba(139,29,26,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff873d",endColorstr="#8b1d1a",GradientType=1); }
.product-grid .product-links li div:before,
.product-grid .product-links li div:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 14px;
    line-height: 22px;
    border-radius: 0;
    padding: 8px 15px;
    border-radius: 5px;
    white-space: nowrap;
    transform: translateY(-50%);
    visibility: hidden;
    position: absolute;
    right: 60px;
    top: 50%;
    transition: all 0.3s ease;
}
.product-grid .product-links li div:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 58px;
    z-index: -1;
}
.product-grid .product-links li div:hover:before,
.product-grid .product-links li div:hover:after{
    visibility: visible;
}
.product-grid .product-links li div:hover:before{ right: 55px; }
.product-grid .product-links li div:hover:after{ right: 53px; }
.product-grid .price{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.product-grid .product-content{
    padding: 12px 0 0;
    position: relative;
}
.product-grid .title{
    font-size: 20px;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.product-grid .title a{
    color: #000;
    transition: all 0.3s ease;
}
.product-grid .title a:hover{ color: #666; }
.product-content .rating{
    padding: 0;
    margin: 0 0 7px 0;
    list-style: none;
}
.product-grid .rating li{
    color: #ff9100;
    font-size: 14px;
    display: inline-block;
}
.product-grid .rating li.disable{ color: #b6b3b0; }
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}
.pr-card-img{
  cursor: pointer;
  /* border-radius: 10px; */
}
.h-p-card{
  flex-direction: column;
  height: auto;
  background: #ffffff63;
  box-shadow: 0px 0px 5px 0px #afafaf;
}
.h-p-card:hover{
  box-shadow: 0px 4px 14px 0px #7a7a7a;
}
.h-p-title{
  font-size: 26px;
  color: #4e4e4e;
  cursor: pointer;
  text-decoration: none; 
  
}
.h-p-title:hover{
  color: #59b1ca;
}
.h-p-cate{
  text-align: end;
  color: #afafaf;
  border: 1px solid;
  /* box-sizing: inherit; */
  border-radius: 5px;
  padding: 1px 3px;
  font-size: 12px;
}
.h-p-price{
  font-size: 25px;
  font-weight: 700;
  color: #626262;
}
.h-p-cont{
  padding: 7px 12px;
}
.h-pv-btn{
  box-shadow: 1px 1px 7px #595252;
}